<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 1*

# üìù Assignment
---
# Choose your ML problems

Ïù¥Î≤à Ïä§ÌîÑÎ¶∞Ìä∏ÏóêÏÑúÎäî Ìè¨Ìä∏Ìè¥Î¶¨Ïò§ ÌîÑÎ°úÏ†ùÌä∏Î•º ÏúÑÌï¥ ÏàòÍ∞ïÏÉù Í∞ÅÏûêÍ∞Ä Ï†ïÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Í≥ºÏ†úÎ•º ÏàòÌñâÌï©ÎãàÎã§. ÌîÑÎ°úÏ†ùÌä∏Î•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞Î•º ÏµúÏ¢Ö ÏÑ†ÌÉùÌïòÍ∏∞ Ï†ÑÏóê Ïó¨Îü¨ Í∞ÄÎä•Ìïú Îç∞Ïù¥ÌÑ∞ÏÑ∏Ìä∏Î•º ÏÇ¥Ìé¥Î≥¥Í≥† Í∞ÑÎã®Ìïú Î™®Îç∏ÍπåÏßÄ ÌïôÏäµÌï¥ Î≥¥Îäî Í≤ÉÏùÑ Ï∂îÏ≤úÎìúÎ¶ΩÎãàÎã§.

### 1) ÌÉÄÍ≤üÏúºÎ°ú ÏÇ¨Ïö©Ìï† ÌäπÏÑ±ÏùÑ ÏÑ†ÌÉùÌï©ÎãàÎã§.
**(Urclass Quiz)** Ïó¨Îü¨Î∂ÑÎì§Ïù¥ ÌîÑÎ°úÏ†ùÌä∏Ïóê ÏÇ¨Ïö©Ìï† Îç∞Ïù¥ÌÑ∞ÏÖãÍ≥º ÌÉÄÍ≤üÌäπÏÑ±Ïóê ÎåÄÌï¥ ÏïÑÎûòÏùò ÎÇ¥Ïö©ÏùÑ Ìè¨Ìï®ÌïòÏó¨ Í∞ÑÎûµÌïòÍ≤å ÏÑ§Î™ÖÌï¥Ï£ºÏÑ∏Ïöî. 
* `df.dtypes`ÏùÑ ÏÇ¨Ïö©Ìï¥ÏÑú ÌÉÄÍ≤üÌäπÏÑ±Ïùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ ÌôïÏù∏
* `df.describe()`Î•º ÏÇ¨Ïö©Ìï¥ÏÑú ÌÉÄÍ≤üÌäπÏÑ±Ïùò ÎåÄÌëúÍ∞í ÌôïÏù∏(Ïã§Ïàò-ÌèâÍ∑†, Î≤îÏ£ºÌòï-ÏµúÎπàÍ∞í)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

df = pd.read_csv('/content/weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [5]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

### 2) ÌíÄÍ≥†Ïûê ÌïòÎäî Î¨∏Ï†úÍ∞Ä Î∂ÑÎ•ò/ÌöåÍ∑Ä Î¨∏Ï†úÏù∏ÏßÄ Ï†ïÌï©ÎãàÎã§.
**(Urclass Quiz)** Îã§Ïù¥ÏïÑÎ™¨ÎìúÎ•º Î≥¥Í¥ÄÌïòÍ∏∞ ÏúÑÌï¥ Í∏àÍ≥†Î•º ÎßåÎì§ÏóàÏäµÎãàÎã§. Í∏àÍ≥†Í∞Ä ÎÑàÎ¨¥ ÏûëÏïÑÏÑú Í∞ÄÍ≤©Ïù¥ ÏÉÅÏúÑ 25%Ïù∏ Í≤ÉÎßå Î≥¥Í¥ÄÌïòÎ†§Í≥† Ìï©ÎãàÎã§. Ïù¥Î•º ÏúÑÌï¥ 'price' ÌäπÏÑ±ÏùÑ Ïù¥Ïö©Ìï¥ Í∏àÍ≥†Ïóê Î≥¥Í¥ÄÌï† Îã§Ïù¥ÏïÑÎ™¨ÎìúÏôÄ Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ÉÏúºÎ°ú Î∂ÑÎ•òÌïòÎäî Ïù¥ÏßÑÎ∂ÑÎ•ò Ïª¨ÎüºÏùÑ ÎßåÎì§Ïñ¥ ÌÉÄÍ≤ü ÌäπÏÑ±ÏúºÎ°ú ÏÇ¨Ïö©Ìï† Í≤ÉÏûÖÎãàÎã§. ÌÉÄÍ≤ü ÌäπÏÑ±Ïùò ÏµúÎπàÍ∞íÏùò ÎπàÎèÑÏàòÎ•º Ï†ÅÏñ¥Ï£ºÏÑ∏Ïöî.
- 'top25'ÎùºÎäî ÏÉàÎ°úÏö¥ ÌÉÄÍ≤üÎ≥ÄÏàò(Ïª¨Îüº)Î•º ÎßåÎì§Ïñ¥Ï£ºÏÑ∏Ïöî.
- ÏÉÅÏúÑ 25% Ïù¥ÏÉÅ True, ÏÉÅÏúÑ 25% ÎØ∏Îßå False

In [6]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ### 
import seaborn as sns
diamonds = sns.load_dataset('diamonds')

In [11]:
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [14]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [21]:
diamonds['top25'] = diamonds['price'] >= diamonds.price.quantile(.75)
diamonds['top25'].nunique()

2

In [22]:
diamonds['top25'].value_counts()

False    40455
True     13485
Name: top25, dtype: int64

### 3) ÌÉÄÍ≤üÏùò Î∂ÑÌè¨Î•º Î∂ÑÏÑùÌïòÍ≥† ÏÇ¨Ïö©Ìï† ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÑ†ÌÉùÌï©ÎãàÎã§. ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÑ†ÌÉùÌïú Ïù¥Ïú†Î•º ÏÑ§Î™ÖÌïòÏÑ∏Ïöî.
- Î∂ÑÎ•ò: ÌÅ¥ÎûòÏä§Í∞Ä Î™á Í∞úÏù∏ÏßÄ? ÌÅ¥ÎûòÏä§ ÎπÑÏú®Ïù¥ Ïñ¥Îñ§ÏßÄ(balance or imbalance)
- ÌöåÍ∑Ä: ÌÉÄÍ≤ü Î∂ÑÌè¨Í∞Ä right-skewed Ïù∏ÏßÄ? log-transformÏùÑ ÏÇ¨Ïö©Ìï† Í≤ÉÏù∏ÏßÄ?
- Î∂ÑÎ•ò: Îã§Ïàò ÌÅ¥ÎûòÏä§(majority class) ÎπÑÏú®Ïù¥ 50%~70% Ïù∏ Í≤ΩÏö∞ Ï†ïÌôïÎèÑ(accuracy)Îßå ÏÇ¨Ïö©Ìï¥ÎèÑ Î¨¥Î∞©Ìï©ÎãàÎã§. ÌïòÏßÄÎßå Î≤îÏúÑÎ•º ÎÑòÏñ¥ÏÑ§ Í≤ΩÏö∞ Ï†ïÌôïÎèÑÎßåÏùÑ ÏÇ¨Ïö©Ìï¥ÏÑúÎäî Î™®Îç∏ÏùÑ ÏûòÎ™ª Ïù¥Ìï¥Ìï† Ïàò ÏûàÏäµÎãàÎã§. Ïñ¥Îñ§ ÌèâÍ∞ÄÏßÄÌëúÎ•º ÏÇ¨Ïö©Ìï¥Ïïº Ìï†ÍπåÏöî?
- ÌöåÍ∑Ä: MAE, RMSE, R^2 Îì±ÏùÑ ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏäµÎãàÎã§.

---


**(Urclass Quiz)** Ïó¨Îü¨Î∂ÑÎì§Ïù¥ ÌîÑÎ°úÏ†ùÌä∏Ïóê ÏÇ¨Ïö©Ìï† Îç∞Ïù¥ÌÑ∞Ïùò Í∏∞Ï§ÄÎ™®Îç∏Í≥º ÏÇ¨Ïö©Ìï† ÌèâÍ∞ÄÏßÄÌëúÎ•º Ï†úÏ∂úÌï¥Ï£ºÏÑ∏Ïöî.

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú(Github - Discussion)

### 4) Ïã§Î¨¥ÏóêÏÑú Îç∞Ïù¥ÌÑ∞Î∂ÑÏÑùÍ∞Ä/Îç∞Ïù¥ÌÑ∞ÏóîÏßÄÎãàÏñ¥/Îç∞Ïù¥ÌÑ∞ÏÇ¨Ïù¥Ïñ∏Ìã∞Ïä§Ìä∏ÏóêÍ≤å Ï§ëÏöîÌïú Ïó≠ÎüâÏù¥ Î¨¥ÏóáÏù¥ÎùºÍ≥† ÏÉùÍ∞ÅÌïòÎ©∞, Ïñ¥Îñ§ Ïñ¥Î†§ÏõÄÏùÑ Í≤™Í≤å Îê† Í≤É Í∞ôÏùÄÏßÄÏôÄ Ïñ¥Îñ§ Îä•Î†•Ïù¥ ÌïÑÏöîÌï† ÏßÄ ÎÖºÏùòÌï¥ Î≥¥ÏÑ∏Ïöî. ÎòêÌïú, ÏÑπÏÖò2 ÌîÑÎ°úÏ†ùÌä∏Ïóê ÏïûÏÑú Î≥∏Ïù∏Ïù¥ ÏñªÍ≥†Ïûê ÌïòÎäî Ï†êÏù¥ÎÇò Îã§Ïßê Îì±ÏùÑ ÏÑúÎ°ú Í≥µÏú†Ìï¥ Î≥¥ÏÑ∏Ïöî.

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###